version: '3.4'

services:
  OpenPlanningPoker.GameEngine.api:
    image: ${DOCKER_REGISTRY-}openplanningpokergameengineapi
    build:
      context: .
      dockerfile: src/OpenPlanningPoker.GameEngine.Api/Dockerfile

  open-planning-poker-game-engine-db:
    image: postgres:latest
    container_name: OpenPlanningPoker.GameEngine.Db
    environment:
      - POSTGRES_DB=open-planning-poker-game-engine
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./.containers/database:/var/lib/postgresql/data
    ports:
      - 5432:5432

  seq:
    image: datalust/seq:latest
    ports:
      - "5341:80"
    environment:
      - ACCEPT_EULA=Y
    volumes:
      - ./.containers/seq:/data
